* {
    margin: 0 0 0 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(90deg, #00ffb3, #307c56);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;

}

section {
    margin: 60px auto 20px;
    padding: 30px;
    width: 650px;
    height: 420px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);


}

h1 {
    text-align: center;
    
}

p {
    text-align: center;
    font-size: 12px;
}

label[for="peso"], [for="altura"]{
    display: flex;
    justify-content: center;

}

input[type="number"], [type="text"] {
    display: flex;
    margin: 10px auto 20px;
    padding: 10px;
    width: 250px;
    height: 15x;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    
    
}

.resultado {
    margin: 0 auto 20px;
    padding: 10px;
    width: 250px;
    height: 60px;
    background: #ffff;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;

}

.botoes {
    display: flex;
    justify-content: center;
    
}

button {
    padding: 10px;
    margin-right: 10px;
    background: #187cff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #00ffb3;
    text-decoration: underline;
    cursor: pointer;
}

